[submodule "modules/gin"]
	path = modules/gin
	url = git@github.com:FigBug/Gin.git
[submodule "modules/juce"]
	path = modules/juce
	url = https://github.com/poweraudio/JUCE
[submodule "modules/melatonin_inspector"]
	path = modules/melatonin_inspector
	url = git@github.com:sudara/melatonin_inspector.git
[submodule "modules/MTS-ESP"]
	path = modules/MTS-ESP
	url = git@github.com:ODDSound/MTS-ESP.git
